*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

h1, h2 {
    color: black;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    margin-top: 1%;
}

h3{
    margin-left: 2%;
}

.esq {
    margin-left: 35%;
}

#container {
    display: block;
    border: 10px;
    border-color: black;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#bloco {
    display: inline-block;
    width:100%;
    height: 40%;
    box-sizing: border-box;
    /* text-align: center; */
    background-color: aqua;
    line-height: 30px;
    border: 2px solid black;
}

#buttons {
    display: inline-block;
    width:100%;
    height: 20%;
    box-sizing: border-box;
    text-align: center;
    background-color: rosybrown;
    line-height: 30px;
    border: 2px solid black;
}

#nome, #mae, #pai, #email {
    width: 300px;
}

#ddd {
    width: 50px;
}

button {
    margin: 100px;
    width: 120px;
    height: 40px;
    border-end-end-radius: 10px;
}