*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

h1 {
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
    margin-top: 3%;
}

#container {
    display: block;
    border: 10px;
    border-color: black;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#bloco {
    display: inline-block;
    width:33%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    line-height: 200px;
}

button {
    padding: 3%;
    margin: 10%;
    color: antiquewhite;
}

input {
    padding: 3%;
    margin: 10%;
}

#button1 {
    width: 60%;
    background-color: indigo;
}

#button2 {
    background-color:darkblue;
}